# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# Streamlit secrets
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Output files (VERY IMPORTANT for your app)
*.pdf
*.zip

# Cache
.cache/

# Build
dist/
build/
